<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>UNLOCK!</title>
    <link rel="stylesheet" href="../data/style/normalizer.css">
    <link rel="stylesheet" href="../data/style/style.css">

</head>
<body>
<div class="sidebar">
    <p class="timer" id="timer"></p>
    <div id="progressbar">
        <div id="progress"></div>
    </div>
    <div class="boutons">
        <button class="button" id="saveButton" {{ disable }}>Save</button>
        <button class="button" id="resetButton">Reset</button>
      <!--  <button class="button" id="indice">Indice</button> -->
      <!--  <button class="button" id="machine">Machine</button>-->
        <button class="button" id="calc">Calculator</button>
        <!--<button class="button" id="settings">Parametres</button>-->
    </div>
    <div class="numpadspace" id="card_popup"></div>
    <img class="logo" src="../data/assets/UNLOCK.webp" alt="logo">
</div>
<div class="gameSpace">

    <div class="wrapper">
        <form action="/display" method="post" id="searchBar">
            <label for="id">Enter a card number or code :</label>
            <input type="text" id="id" name="id" required
                   minlength="1" maxlength="4" size="10">
            <input type="submit" value="Submit">
        </form>
        {% for card in cards %}
            {% if card.NumCarte() == "6" %}
                <div><img id="6" src="../data/assets/cards/{{ card.Image()  }}" alt="{{ card.NumCarte()  }}" class="carte"/></div>
                <script>
                    document.getElementById("6").addEventListener("click", function () {
                        this.classList.toggle("rotate");
                    });
                </script>
            {% elseif card.Type() == "trap" %}
                <div><img id="{{ card.NumCarte() }}" src="../data/assets/cards/{{ card.Image()  }}" alt="{{ card.NumCarte()  }}" class="carte"/></div>
                <script>
                    document.getElementById("{{ card.NumCarte() }}").addEventListener("click", function () {
                        window.location = "/hide/{{ card.NumCarte() }}";
                    });
                </script>
            {% else %}
                <div><img src="../data/assets/cards/{{ card.Image()  }}" alt="{{ card.NumCarte()  }}" class="carte" /></div>
            {% endif %}
        {% endfor %}


    </div>
</div>

<div class="popup hidden" id="popup">
    <div class="popup-content">
        <p id="close_popup" class="close">X</p>
        {% for card in cards_back %}
            <img src="../data/assets/cards/{{ card.image_back }}" alt="{{ card.image_back }}" class="carte carte_small"/>
        {% endfor %}
    </div>
</div>

<script src="../data/js/timer.js"></script>
<script src="../data/js/interact.js"></script>

<script>
 startTimer({
        minute : {{ timer.minutes }},
        second : {{ timer.second }}
 });

</script>
</body>
</html>