<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>UNLOCK!</title>
    <link rel="stylesheet" href="../data/style/normalizer.css">
    <link rel="stylesheet" href="../data/style/style.css">

</head>
<body>
<div class="sidebar">
    <p class="timer" id="timer"></p>
    <div id="progressbar">
        <div id="progress"></div>
    </div>
    <div class="boutons">
        <button class="button" id="playpauseButton">Save</button>
        <button class="button" id="playpauseButton">Load</button>
      <!--  <button class="button" id="indice">Indice</button> -->
      <!--  <button class="button" id="machine">Machine</button>-->
        <button class="button" id="calc">Calculatrice</button>
        <!--<button class="button" id="settings">Parametres</button>-->
    </div>
    <div class="numpadspace"></div>
    <img class="logo" src="../data/assets/UNLOCK.webp" alt="logo">
</div>
<div class="gameSpace">

    <div class="wrapper">

        {% for card in cards %}
            {% if card == "6.png" %}
                <div><img id="6" src="../data/assets/cards/{{ card }}" alt="{{ card }}" class="carte"/></div>
                <script>
                    let carte = document.getElementById("6");
                    carte.addEventListener("click", function () {
                        carte.classList.toggle("rotate");
                    });
                </script>
            {% else %}
                <div><img src="../data/assets/cards/{{ card }}" alt="{{ card }}" class="carte" /></div>
            {% endif %}
        {% endfor %}

                <form action="/display" method="post" id="searchBar">
                    <label for="id">Enter a card number or code :</label>
                <input type="text" id="id" name="id" required
                       minlength="1" maxlength="8" size="10">
                <input type="submit" value="Submit">
        </form>
    </div>
</div>

<script src="../data/js/timer.js"></script>
<script src="../data/js/pausePlayButton.js"></script>
<script src="../data/js/progressbar.js"></script>
<script src="../data/js/interact.js"></script>

<script>
    startTimer("{{ timer_start }}");
</script>
</body>
</html>